<div class="bg-img">
  <picture class="picture is-supported" data-component="picture">
    <source
      data-srcset="/content/dam/general-purpose/Homepage_Banner_Image_Red.jpg"
      media="(min-width:1280px)"
      srcset="https://www.visitsaudi.com/content/dam/general-purpose/Homepage_Banner_Image_Red.jpg"
    />

    <img
      data-src="/content/dam/general-purpose/Homepage_Banner_Image_Red_Mobile.jpg"
      class="image lazyloaded"
      src="https://www.visitsaudi.com/content/dam/general-purpose/Homepage_Banner_Image_Red_Mobile.jpg"
    />
  </picture>
</div>

<div class="main-nav">
  <div data-sly-resource="${'topnavbar' @ resourceType='mysite/components/topnavbar'}"></div>
  <div data-sly-resource="${'navbar' @ resourceType='mysite/components/navbar'}"></div>
</div>